<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyLog</title>
</head>
<body>
    <div class="gen">
        <div class="header">
            <h1 class="title">Upload a CSV File</h1>
        </div>
        <div class="upload">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input class="file" type="file" name="file">
                <input class="upfile" type="submit" value="Upload">
                
                <div class="setTime">
                    <h1 class="timeTitle">Specify The Time Range</h1>
                    <div class="startTime">
                        <input type="datetime-local" name="start_time" id="start_time">
                    </div>
                    <div class="endTime">
                        <input type="datetime-local" name="end_time" id="end_time">
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</body>
</html>