html {
  background-color: #D1FAE5;
}

.gen {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 80px;
  margin-bottom: 40px;
  text-align: center;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
}

.upfile, .file, .setTime input {
  width: 300px; 
}

.upfile {
  content: 'Βημα 3 Ανέβασε το Αρχείο';
  border: 0px;
  border-radius: 500px;
  cursor: pointer;
  background: #047857;
  color: white;
  padding: 20px 20px;
  font-size: 20px;
  border: 1px black solid;
  letter-spacing: 1px;
  transition: 0.1s;
  text-align: center;
  margin-top: 30px;
}

.upfile:hover {
  transform: scale(1.04);
  transition: 0.1s;
}

.file {
  border-radius: 3px;
  transition: 0.1s;
}

.file:hover {
  transform: scale(1.04);
  transition: 0.1s;
}

.file::-webkit-file-upload-button {
  visibility: hidden;
  display: none;
}

.file::before {
  content: 'Βήμα 1 Επέλεξε Αρχείο'; 
  display: block;
  background: #047857;
  color: white;
  padding: 20px 20px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  border: 1px black solid;
  border-radius: 500px;
  font-size: 20px;
  margin-right: 10px;
  letter-spacing: 1px;
  text-align: center;
}

.setTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.setTime label {
  font-size: 16px;
  margin-bottom: 5px;
}

.setTime input {
  padding: 10px;
  font-size: 16px;
}

.endTime, .startTime {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
