.gen{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title{
  font-size: 120px;
  margin-bottom: 40px;
}

html{
  background-color: #D1FAE5;
}

.upfile{
  border: 0px ;
  border-radius: 500px;
  cursor: pointer;
  background: #047857; 
  color: white;
  padding: 20px 20px;
  font-size: 40px;
  border: 1px black solid;
  letter-spacing: 1px;
  transition: 0.1s;
}


.upfile:hover{
  transform: scale(1.04);
  transition: 0.1s;
}

.file{
  border-radius: 3px;
  transition: 0.1s;
}
.file:hover{
  transform: scale(1.04);
  transition: 0.1s;
}


.file::-webkit-file-upload-button {
  visibility: hidden;
  display: none;
}


.file::before {
  content: 'Choose file'; 
  display: inline-block;
  background: #047857; 
  color: white;
  padding: 20px 20px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  border: 1px black solid;
  border-radius: 500px;
  font-size: 40px;
  margin-right: 10px;
  letter-spacing: 1px;
}


.setTime{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 5px;
}

.endTime{
  margin-top: 10px;
}




display: inline-block;
outline: none;
cursor: pointer;
font-size: 14px;
line-height: 1;
border-radius: 500px;
transition-property: background-color,border-color,color,box-shadow,filter;
transition-duration: .3s;
border: 1px solid transparent;
letter-spacing: 2px;
min-width: 160px;
text-transform: uppercase;
white-space: normal;
font-weight: 700;
text-align: center;
padding: 17px 48px;
color: #fff;
background-color: #1ED760;
height: 48px;
:hover{
    transform: scale(1.04);
    background-color: #21e065;
}
